body{
    background-image: url('../img/mary\ astet.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace;
    color: #f3f3f3;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao{
    background-color: #070d12;
    width: 370px;
    border: 2px solid #ff00b0;
    border-radius: 10px;
    overflow: hidden;
}

.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartao .minhas-informacoes img{
    width: 96px;
    height: 96px;
    border-radius: 50px;
    border: 4px solid  #ff00b0;
}

.cartao .minhas-informacoes .nome{
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #b8bbc5;
}

.cartao .conteudo{
    margin-top: 15px;
}

.cartao .abas{
    display: flex;
}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
   transition: background-color 0.5s ease-in-out;
}

.cartao .abas img{
    width: 30px;
}

.cartao .abas .aba.selecionada{
    background-color: #262626;
}

.cartao .informacoes-abas{
    background-color: #262626;
}

.cartao .abas .aba:hover{
    background-color: #e60dc9;
}

.informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
}
.informacoes-abas .informacao.selecionada{
    display: block;
}
.informacoes-abas .sub-titulo{
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;
}

.informacao .sobre-descricao{
    font-size: 20px;
    text-align: justify;
    max-height:  180px;
    overflow-y: auto;
    padding-right: 25px;
}

.informacoes-abas .sobre-descricao span{
    color: #f516ea;
}
.informacao .redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}
.redes-sociais li a{
   width: 259px;
   display: block;
   color: #f3f3f3;
   text-align: center;
   padding: 10px;
   font-size: 20px;
   transition: opacity 0.3s ease-in-out;
}
.redes-sociais li a:hover{
    opacity: 0.8;
}
.redes-sociais .curriculo{
    background-color: #ff00b0;
    
}

.redes-sociais .linkedin{
    background-color: #0a66c2;
}

.redes-sociais .github{
    background-color: #c21bec;
   
}